@media screen and (max-width:1200px) {
    .header-sticky {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        gap: 40px;
    }
}

@media screen and (max-width:1000px) {
    .header-sticky {
        display: none;
        grid-template-columns: auto;
        gap: 10px;
    }

    .container-4-reviews {
        gap: 100px;
    }

    .header-top-2-middle {
        display: flex;
    }
}

@media screen and (max-width:800px) {
    .header-top-2-bottom-container {
        min-height: 70px;
    }

    .container-3 {
        flex-direction: column;
    }

    .container-3-content {
        max-width: 100%;
    }

    .container-4-reviews {
        flex-direction: column;
        gap: 80px;
    }
}